{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Casik{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/scripts.js' %}"></script>
    <link rel="icon" href="{% static 'img/Ghost.ico' %}" type="image/x-icon">
</head>
<body>
    <header>
        <div class="logo"><a href="/">GhostCasino</a></div>
        <button class="menu-toggle" onclick="toggleMenu()">☰</button>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/support/">Поддержка</a></li>
                <li><a href="/about/">О нас</a></li>
                {% if user.is_authenticated %}
                    <li><img src="{{ user.avatar }}" alt="User Avatar" class="profile-avatar-nav"></li>
                {% endif%}
                <li><a href="/profile/" class="idinaxui">Профиль</a></li>
                
                <li><a href="/balance/" class="balance">Баланс: {{ user.balance }}₽</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="quick-menu">
        <a href="#" class="menu-item">
            <img src="{% static 'img/crash.png' %}" alt="Crash">
            
        </a>
        <a href="{% url 'roulette' %}" class="menu-item">
            <img src="{% static 'img/rul.png' %}" alt="Roulette">
            
        </a>
        <a href="#" class="menu-item">
            <img src="{% static 'img/bomb.png' %}" alt="Miner">
        </a>
        <a href="#" class="menu-item">
            <img src="{% static 'img/live.png' %}" alt="Miner">
        </a>
        <a href="#" class="menu-item">
            <img src="{% static 'img/app.png' %}" alt="Miner">
        </a>
        
    </div>
    
    
    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>
