{% extends 'base.html' %}
{% load static %}
{% block title %}Поддержка - GhostCasino{% endblock %}

{% block content %}
<div class="support-container">
    <script>
        setTimeout(() => {
            let randomi = Math.floor(Math.random() * (1823 - 0 + 1) + 0);
            document.getElementById("chatguyid").innerText = `Вы подключены к нашему специалисту №${randomi}. общайтесь!`;
        }, 1252);
        function answer() {
            let text = document.getElementById("questionbox").innerText = "";
            var items = Array("meoww", "miow..", "miow?", "meow?", "meow?!", "meowww", "meow :3", "meow., :(", "meow!!!", "miau...", "miaoo..", "miau :(", "meow :D");
            var item = items[Math.floor(Math.random()*items.length)];
            document.getElementById("answerbox").innerHTML = item;
        }
    </script>
    <style>
        #answerbox {
            background-color: rgb(70, 70, 70);
            color: #fff;
            padding: 5px;
        }
    </style>
    <h1>Поддержка</h1>
    <p>Наша команда всегда готова помочь вам! Свяжитесь с нами по любым вопросам.</p>

    <div class="chatbot">
        <div class="kafifinfo">
            <img src="/static/img/particle.png">
            <p id="chatguyid">Выполняется подключение к доступному человеку ...</p>
        </div>
        <div class="chat">
            <div id="answerbox"><i>Ответы появятся по мере вашего коммуницирования...</i></div>
            <textarea id="questionbox"></textarea>
            <button onclick="answer()">Отправить</button>
        </div>
    </div>
</div>
{% endblock %}
